$primary: #1be1b9;
$primary-light: lighten(#1be1b9, 10%);

$background: linear-gradient(132deg, #1be1b9, #6c0) !important;
$background-reverse: linear-gradient(132deg, #6c0, #1be1b9) !important;
$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
