@import 'bulma';

.modal-content {
  background-color: white;
  padding: 36px;
  border-radius: 26px;

  .file {
    display: block !important;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
    .image {
      display: flex;
      width: 128px !important;
      height: 128px !important;
    }
  }

  #modal-add {
    background-color: $primary;
    color: white;
    margin: 15px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }
}
